.movie-carousel {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  height: 40%;
}

.movie-list {
  display: inline-block;
}

.movie-list ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.movie-list li {
  width: 300px;
}

.scroll-left,
.scroll-right {
  position: absolute;
  top: 50%;
  height: 80%;
  width: 5%;
  background-color: rgba(33, 34, 51, 0.9);
  backdrop-filter: blur(8px);
  transform: translateY(-50%);
  border: none;
  font-size: 2.4rem;
  color: white;
  cursor: pointer;
}

.scroll-left {
  left: 10px;
}

.scroll-right {
  right: 10px;
}
